:root {
  --bg-color: #2b579a;
  --btn-color: #bcc1c5;
  --bg2-color: #F3F2F1;
  --text-color: #FB3640;
}
 
 
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,400;0,800;1,400;1,800&family=Oswald:wght@400;500;600;700&family=Roboto+Slab:wght@400;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
 

body {
 font-family: 'Lato', sans-serif;
 
  margin: 1rem;
  padding: 1rem;
  min-height: 80vh;
  box-sizing: border-box;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.FlexContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  width: 65%;
  height: 80vh;
  overflow: auto;
  flex-direction: row;
}

.FlexContainer div {
  margin: 2em;
  background-color: var(--btn-color);
}

#text-area-and-buttons-container {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#counters {
  display: flex;
  align-self: start;
  justify-content: center;
  width: 40vw;
  margin: 0;
}
#counters p {
  margin-inline: 1vw;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;

}
#output-count {
  display: flex;
  flex-direction: row;
  margin: 0;
}


#output{
  padding:2em;
  width: 20vw;
}
#output h4{
 font-family: 'Lato', sans-serif;
 font-weight: 900;
 text-transform: capitalize;
}
#buttons {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
}

textarea {
 
font-family: 'Open Sans', sans-serif;
 
  width: 38vw;
  height: 30vh;
  padding: 2em;
}

button {
  margin: 1em;
  background-color: var(--bg-color);
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 15px;
  min-height: 30px;
  min-width:5vw;
}
